<a href="https://colab.research.google.com/github/Malcuthrad/Challenge-Telecom-X/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [1]:
import pandas as pd
import numpy as np

In [3]:
# cargar directo de reopsitorio github
url = 'https://raw.githubusercontent.com/Malcuthrad/Challenge-Telecom-X/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(url)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaciÃ³n

In [4]:
# normalizar columnas con datos anidados
customer_df = pd.json_normalize(df['customer'])
phone_df = pd.json_normalize(df['phone'])
internet_df = pd.json_normalize(df['internet'])
account_df = pd.json_normalize(df['account'])

# sacar columnas anidadas originales
df.drop(columns=['customer', 'phone', 'internet', 'account'], inplace=True)

# Concatenar el DataFrame original con los nuevos datos normalizados
df = pd.concat([df, customer_df, phone_df, internet_df, account_df], axis=1)

df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [6]:
# verificar columnas
df.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [7]:
# Verificar datos nulos
df.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [8]:
# Verificar datos duplicados
df.duplicated().sum()

np.int64(0)

In [9]:
df.sample(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2905,4024-CSNBY,No,Female,0,Yes,No,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),94.25,6849.75
4175,5724-BIDBU,No,Male,0,Yes,No,49,Yes,Yes,DSL,...,No,No,No,No,No,One year,Yes,Electronic check,55.35,2633.95
6168,8444-WRIDW,Yes,Female,1,No,No,66,Yes,Yes,Fiber optic,...,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),80.45,5224.35
1337,1930-QPBVZ,No,Male,0,Yes,Yes,68,Yes,No,Fiber optic,...,Yes,No,Yes,No,Yes,Two year,No,Bank transfer (automatic),95.10,6683.4
6930,9547-ITEFG,No,Male,0,Yes,Yes,9,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),102.60,897.75
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3383,4695-WJZUE,Yes,Female,1,No,No,2,Yes,Yes,Fiber optic,...,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,88.55,179.25
3846,5268-DSMNQ,No,Female,1,Yes,No,62,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,No,One year,Yes,Credit card (automatic),97.95,5936.55
20,0023-UYUPN,No,Female,1,Yes,No,50,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Electronic check,25.20,1306.3
1996,2824-MYYBN,No,Female,0,Yes,Yes,37,Yes,Yes,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.25,3314.15

In [10]:
# Reemplazar strings vacios con nan
df = df.replace('', np.nan)

In [11]:
df = df.replace(' ', np.nan)

In [12]:
# Volver a verificar nulos
df.isnull().sum()

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total        11
dtype: int64

In [13]:
# Mostrar solo suma de columnas con datos nulor
df[['Churn', 'Charges.Total']].isnull().sum()

Churn            224
Charges.Total     11
dtype: int64

In [14]:
# Datos con nan no se estiman relevantes por lo que se eliminan
df = df.dropna(subset=['Churn', 'Charges.Total'])
df[['Churn', 'Charges.Total']].isnull().sum()

Churn            0
Charges.Total    0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [16]:
# Cambiar Charges.Total de object a float
df['Charges.Total'] = df['Charges.Total'].astype(np.float64)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [17]:
# dejar todo en minusculas y eliminar caracteres especiales a columna Contract
df['Contract'] = df['Contract'].str.lower()
df['Contract'] = df['Contract'].str.replace(r'\-', ' ', regex=True).str.strip()

In [18]:
df['Contract'].sample(4)

349     month to month
1988    month to month
5307    month to month
1596    month to month
Name: Contract, dtype: object

In [19]:
# cambiar colunmas con 1 y 0 a yes y no
#colunmas_convertidas = ['Churn', 'SeniorCitizen',	'Partner', 'Dependents', 'PaperlessBilling']
colunma_convertida = ['SeniorCitizen']
df[colunma_convertida] = df[colunma_convertida].replace({1 : 'Yes', 0 : 'No'})
df.sample(4)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
1968,2794-XIMMO,Yes,Male,No,Yes,No,53,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,Yes,one year,Yes,Electronic check,60.45,3184.25
243,0365-BZUWY,No,Male,No,Yes,No,17,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,month to month,Yes,Electronic check,102.55,1742.50
3149,4391-LNRXK,No,Male,No,No,No,22,Yes,No,Fiber optic,...,Yes,Yes,Yes,No,Yes,month to month,Yes,Bank transfer (automatic),94.95,2142.80
5181,7073-QETQY,No,Male,No,Yes,Yes,66,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,one year,Yes,Electronic check,20.35,1359.50

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   object
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: float64(2), int64(1), object(18)
memory usage: 1.2+ MB

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final